.listings-container-inner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  background: #ffffff;
  color: black;
  text-align: center;
  /* background: lightgray; */
}

.listings-card-container {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.listings-header {
  margin: 1em auto;
}
