.listings-container-inner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: 16em 16em 16em 16em;
  background: #ffffff;
  color: black;
  text-align: center;
  /* background: lightgray; */
}

.listing-tiles {
  grid-column: 3/5;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  background: #ffffff;
  color: black;
  text-align: center;
}

.listings-card-container {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.listings-header {
  margin: 1em auto;
}

.no-favorites {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10em;
}

.card-map-container {
  grid-column: 1/3;
  grid-row: 1/3;
  position: relative;
  /* width: auto; */
  margin: 0 1em 1em 0;
}
