* {
  box-sizing: border-box;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}

.card {
  margin: 0 1em 1em 0;
  position: relative;
  border: 1px solid black;
}

.property-title {
  height: auto;
  background: gray;
  padding: 1em;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
}

.listings-page-img {
  width: 100%;
  object-fit: cover;
  height: 15em;
  vertical-align: bottom;
}

/* button {
  position: absolute;
  left: 5em;
  bottom: 3em;
} */

.image-btn {
  position: relative;
}

.btns-container {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 1em;
  width: 100%;
}

.listings-btn {
  left: 0;
  right: 0;
  /* margin: auto; */
  background: #ce2828;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  width: 5em;
  padding: 0.5em 1em;
  text-decoration: none;
  height: auto;
}

.listing-heart-active {
  color: red;
}

.listing-heart-inactive {
  color: lightgray;
}

.listing-heart-container {
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  cursor: pointer;
}

.highlighted .property-title {
  background: #a5d3e5;
}

.highlighted .listings-btn {
  background: #a5d3e5;
  color: black;
}

.highlighted .listing-heart-container {
  background: #a5d3e5;
  color: black;
}

.highlighted .listing-heart-inactive {
  color: gray;
}
