article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: auto;
  border: 1px solid black;
  padding: 1em;
  margin: 1em 1em 0 0;
  background-size: cover;
}

.view-listings-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 3em;
  border: 1px solid black;
  font-size: 1em;
  background-color: white;
  color: black;
  text-decoration: none;
  font-family: Domine;
}

.view-listings-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 3em;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

.view-listings-button:hover {
  background-color: green;
  color: white;
}

.area-title {
  font-size: 2em;
  margin: 0;
}

.area-subtitle {
  margin: 0 0 1em 0;
}

.card-background {
  object-fit: cover;
  height: 100%;
  background-size: relative;
}
