article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: auto;
  border: 1px solid black;
  margin: 1em 1em 0 0;
  background-size: cover;
}

.view-listings-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 3em;
  border: 1px solid black;
  font-size: 1em;
  background-color: white;
  color: black;
  text-decoration: none;
  font-family: Domine;
  margin: 1em 0;
}

.view-listings-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 3em;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

.view-listings-button:hover {
  background-color: green;
  color: white;
}

.area-title {
  font-size: 2em;
  margin: 0;
}

.area-highlight {
  background-color: white;
  padding-right: 0.2em;
}

.area-subtitle {
  font-size: 0.5em;
}

.card-background {
  object-fit: cover;
  height: 100%;
  background-size: relative;
}

.about {
  background-color: white;
  box-decoration-break: clone;
  display: inline;
  position: relative;
  line-height: 1.4;
  padding: 0.3em;
}

.title-subtitle-container {
  background: gray;
  width: 100%;
  padding: 0.5em 1em;
}

.area-card-info {
  padding: 1em;
}
