article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: 15em;
  border: 1px solid black;
  padding: 1em;
}

h3 {
  font-size: 2em;
  margin: 0;
}

h4 {
  margin: 0;
}