.greeting {
  margin: 0 0 0.1em 0;
}

nav {
  background-color: grey;
  display: flex;
  justify-content: space-between;
}

.greeting-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 3em;
  /* width: 20em; */
  align-items: center;
}

span {
  font-size: 0.5em;
  padding-left: 0.6em;
}

h1 {
  font-size: 3em;
  font-weight: 400;
  margin: 0.15em 0;
}

.favorite-btn {
  height: auto;
  width: auto;
  padding: 0.5em 1em;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  margin: 0 10em;
  cursor: pointer;
}

.logged-in-elements {
  display: flex;
  margin-right: 3em;
  justify-content: space-between;
}

.log-out-container {
  display: flex;
  align-items: center;
}

.log-out {
  padding: 1em;
  height: auto;
  width: auto;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}
