* {
  box-sizing: border-box;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
  font-family: "Domine", serif;
}

.card-map {
  top: 30;
  position: relative;
  /* border: 1px solid black; */
  width: 20em;
}

/* .property-title {
  height: auto;
  background: gray;
  padding: 1em;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
} */

/* button {
  position: absolute;
  left: 5em;
  bottom: 3em;
} */

.map-link {
  text-decoration: none;
  color: black;
}

.map-link:hover {
  text-decoration: underline;
}
